{% load i18n %}
{% load mkrange %}
{% load varformat %}
<style type="text/css">
    #{{ attrs.id|varformat }}_map { width: {{ map_width }}px; height: {{ map_height }}px; border:1px solid #AAA}
    #{{ attrs.id|varformat }}_map .aligned label { float: inherit; }
    #{{ attrs.id|varformat }}_span_control, #{{ attrs.id|varformat }}_span_map { margin-right:1em;position: relative; vertical-align: top; float: left; }
    #{{ attrs.id|varformat }}_span_control {width:400px; height:{{map_height}}px;}
    #{{ attrs.id|varformat }}_area {display:None;}
    #{{ attrs.id|varformat }}_locations {display:None;}
    {% if not display_wkt %}#{{ attrs.id|varformat }} { display: none; }{% endif %}
    #{{parent_table_name}} .add-row{display:none;}
</style>
<input type='hidden' name='{{attrs.id}}_area_pk' id='{{attrs.id}}_area_pk' value='{{value_pk}}'/>
<input type='hidden' name='{{attrs.id}}_area_wkt' id='{{attrs.id}}_area_wkt' value=''/>
<div class='editing'></div>
{% if location %}<div class='current_location'>
    <p class='current-area'><label>{% trans "Current area:" %}</label> {{location}}</p>
</div>{% endif %}
<span id="{{ attrs.id|varformat }}_span_control">
    <div id='{{ attrs.id|varformat }}_inputs'>
        {% if location %}<button onclick='$("#{{module}}-fieldset").removeClass("collapsed");$(this).hide();return false;'>{% trans "Change" %}</button>{% endif %}
        <fieldset id='{{module}}-fieldset' class='map-controls{% if location%} collapsed{%endif%}'>
        <legend>{% if location %}{% trans "Change the area" %}{%else%}{% trans "Select new area" %}{%endif%}</legend>
        <div id='{{ attrs.id|varformat }}_areatype' class='required'>
            <label>{% trans "Area type"%}</label>
            <select id='{{ attrs.id|varformat }}_areatype_input'>
                <option value=''>--</option>
                {% for typ in area_types %}<option value='{{typ.pk}}'>{{typ}}</option>
                {% endfor %}
                <option value='radius'>{% trans "Radius" %}</option>
            </select>
        </div>
        <div id='{{ attrs.id|varformat }}_area' class='required'>
            <label>{% trans "Area label"%}</label>
            <input type='text' name='{{ attrs.id|varformat }}_area_input' id='{{ attrs.id|varformat }}_area_input' />
        </div>
        <div id='{{ attrs.id|varformat }}_locations' class='required'>
            <label>{% trans "Center"%}</label>
            {% if not available_locations %}
                <p>{% trans "Define at least a location before defining a radius of action." %}</p>
            {% else %}
                <ul>
                {% for available_location in available_locations %}
                    <li><input type='radio' name='{{ attrs.id }}_location' value='{{available_location.pk}}'/> {{available_location}}</li>
                {% endfor %}</ul>
<script type='text/javascript'>
    /* manage radius */
    var {{attrs.id|varformat}}_locations = new Array();
    var {{attrs.id|varformat}}_location_ids = new Array();
    {%for location in available_locations%}{{attrs.id|varformat}}_locations[{{forloop.counter0}}]="{{location.point.wkt}}";
    {{attrs.id|varformat}}_location_ids[{{forloop.counter0}}]="{{location.pk}}";
    {% endfor %}

    (function($){
        $("input[name='{{attrs.id}}_location']").change(function(){

        var areatype = $(this).val();
        var location_id = $("input[name='{{attrs.id}}_location']:checked").val();
        var location_point = {{attrs.id|varformat}}_locations[{{attrs.id|varformat}}_location_ids.indexOf(location_id)];
        var center = OpenLayers.Geometry.fromWKT(location_point).transform(
                              new OpenLayers.Projection('EPSG:4326'),
                              new OpenLayers.Projection('EPSG:{{map_srid}}'));
        var circle = new OpenLayers.Geometry.Polygon.createRegularPolygon(
                                center, 5000, 60, 0);
        feat = new OpenLayers.Feature.Vector(circle);
        {{ module }}.deleteFeatures();
        {{ module }}.layers.vector.addFeatures([feat]);
        {{ module }}.map.zoomToExtent(feat.geometry.getBounds());
        {{ module }}.map.zoomOut(1);
        var wkt_parser = new OpenLayers.Format.WKT();
        $("#{{attrs.id}}_area_wkt").val('SRID={{map_srid}};'+
                                        wkt_parser.write(feat));

        {{module}}_controls["modify"].activate();
        {{module}}_controls.modify.mode = OpenLayers.Control.ModifyFeature.ROTATE;

        {{module}}_controls.modify.mode |= OpenLayers.Control.ModifyFeature.RESIZE;
        {{module}}_controls.modify.mode &= ~OpenLayers.Control.ModifyFeature.RESHAPE;
        {{module}}_controls["modify"].selectControl.select({{module}}.layers.vector.features[0]);
});
    })(django.jQuery);
</script>
            {% endif %}
        </div>
        </fieldset>
    </div>
</span>
<script type="text/javascript">


    (function($){
    })(django.jQuery);
</script>
<span id="{{ attrs.id|varformat }}_span_map">
    <div id="{{ attrs.id|varformat }}_map" class='openlayers_map'></div>
    <input type='hidden' name='{{ attrs.id }}' id='{{ attrs.id }}' value='{{value_pk}}'/>
</span>
<script type="text/javascript">
/* manage the map: initialize it and manage controllers */
(function($){
    function load_from_wkt(wkt){
        var feat = OpenLayers.Util.properFeatures(
            {{ module }}.read_wkt(wkt),
            {{ module }}.options.geom_type);
        {% if map_srid != '4326' %}
        feat = new OpenLayers.Feature.Vector(
                    feat.geometry.transform(
                              new OpenLayers.Projection('EPSG:4326'),
                              new OpenLayers.Projection('EPSG:{{map_srid}}')));
        {% endif %}
        {{ module }}.deleteFeatures();
        {{ module }}.layers.vector.addFeatures([feat]);
        {{ module }}.map.zoomToExtent(feat.geometry.getBounds());
    }
    /* actions after first selection, autocomplete and access to radius */
    $('#{{ attrs.id|varformat }}_areatype_input').change(function(){
        $('#{{ attrs.id|varformat }}_locations').hide();
        $('#{{ attrs.id|varformat }}_area').hide();
        $("input[name='{{attrs.id}}_location']:checked").attr('checked', false);
        $('#{{ attrs.id|varformat }}_area_input').val('');
        var areatype = $(this).val();
        if (areatype == 'radius'){
            $('#{{ attrs.id|varformat }}_locations').show();
        }else if (areatype){
            {{module}}_controls["modify"].deactivate();
            $('#{{ attrs.id|varformat }}_area').show();
            $('#{{ attrs.id|varformat }}_area_input').autocomplete(
                    '/area/simple/', {
                    extraParams: {
                      'area_type': areatype
                    }, max: 100, scrollHeight: 400,
                  }).result(function(event, data, formatted) {
                      if (data) {
                          $('#{{ attrs.id }}').val(data[1]);
                          $.ajax({
                              url: '/area/json/',
                              data: {'id':data[1]},
                              success: function(data) {
                                    var wkt = data[0]['fields']['polygon'];
                                    $("#{{attrs.id}}_area_wkt").val('');
                                    $("#{{attrs.id}}_area_pk").val(data[0]['pk']);
                                    load_from_wkt(wkt);
                              }
                          })
                      }
                  }).keyup(function(event){
                      if (event.keyCode == 27) {
                          reset();
                      };
                  });
        }
    })

    function init_geom_{{module}}(){
        {% block map_options %}var map_options = {};{% endblock %}
        {% block options %}var options = {
            geom_type: OpenLayers.Geometry.{{ geom_type }},
            is_collection: {{ is_collection|yesno:"true,false" }},
            is_linestring: {{ is_linestring|yesno:"true,false" }},
            is_point: {{ is_point|yesno:"true,false" }},
            is_polygon: {{ is_polygon|yesno:"true,false" }},
            id: '{{ attrs.id|varformat }}',
            id: '{{ attrs.id|varformat }}_map',
            map_id: '{{ attrs.id|varformat }}_map',
            map_options: map_options,
            map_srid: {{ map_srid }},
            name: '{{ name }}'{% if point_zoom %},
            point_zoom: {{point_zoom}}{% endif %}
        };{% endblock %}
        {{ module }} = new MapWidget(options);
        {{module}}.panel.destroy();
        {{module}}.map.getControlsByClass('OpenLayers.Control.DrawFeature')[0].destroy();
        function featureModified(event){
            var current_feature = {{module}}.layers.vector.features[0];
            {{ module }}.map.zoomToExtent(current_feature.geometry.getBounds());
            {{ module }}.map.zoomOut(1);
            var wkt_parser = new OpenLayers.Format.WKT();
            $("#{{attrs.id}}_area_wkt").val('SRID={{map_srid}};' + 
                                            wkt_parser.write(current_feature));
        }
        {{module}}.layers.vector.events.on({
            featuremodified: featureModified,
            featuresadded: featureModified
        });

        {{module}}_controls = {
            modify: new OpenLayers.Control.ModifyFeature({{module}}.layers.vector),
        };

        for (var key in {{module}}_controls) {
          {{module}}.map.addControl({{module}}_controls[key]);
        }
    };
    var contener = $('#{{ attrs.id|varformat }}_span_map').parent().parent();
    is_hidden = contener.is(':hidden');
    if(!is_hidden){
        init_geom_{{module}}();
    };
    /* //manage hidden maps
     else {
        contener.parent().find('.add-row').click(
            function(){
                init_geom_{{module}};
                $('#{{ attrs.id|varformat }}_span_map').parent().parent().parent().find('.add-row').hide();
            }
        );
    }*/
    {% if wkt %}load_from_wkt("{{wkt}}");{% endif %}
})(django.jQuery);
</script>
