/**/
fieldset.map-controls{
    padding:1.5em;
    border:1px solid #ccc;
}

fieldset.map-controls.collapsed{
    padding:0;
    border:none;
}

.current-area label, .current-area{font-size:16px;}

fieldset.map-controls legend{
    font-size:1.2em;
}

fieldset.map-controls label{
    width:100px;
    display:inline-table;
}
